<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NYC X-Wing League</title>
	<meta property="og:title" content="NYC X-Wing League" />
	<meta property="og:url" content="https://nycxwing-league.herokuapp.com/division/ultima" />
	<meta property="og:image" content="https://nycxwing-league.herokuapp.com/images/nycxleague_og.jpg" />
	<meta property="og:description" content="Official page for the NYC X-Wing League (fly casual, fly better, fly different, etc)" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style type="text/css">
		ul {
		 list-style: none;
		}
		.container {
		    max-width: 750px;
		    margin-bottom: 10px;
		}
		.header-image {
			width: 100%;
		}
		.matches-container {
			width: 370px;
		}
		.nav-pills>li {
	    padding: 1px 0;
		}

		.nav-pills>li>a {
	    padding: 5px 10px;
		}
		.main-main {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
;
	</style>
</head>
<body>

	<main class="main-main">{{{reactHtml}}}</main>
	<script src='/bundle.js'></script>

</body>
</html>
